body{
    border-style: double;
border-width: thick;
border-color:#eb4034;
border-width: 30px 30px;

}

.h3 {
    color: salmon;
    text-align: center;
    text-transform: uppercase;

}

.p1 {
    color: springgreen;
    border-color: yellow;
    border-top-style:double ;
    border-bottom-style:double ;
}

body img {
    
    border-color: red;
    border-style:dotted ;
    border-width: thick ;
    
}

.div1 {
    text-align: center;
}

