h1{
    font-family: 'Marck Script', cursive;
    text-align: center;
    background-color: rgb(252, 115, 61);
}
a.cb{
    text-decoration: none;

}
h2.spider{
    color: rgb(245, 17, 47)
}
p.pone{
    text-align: left;
    letter-spacing: 3px ;
}
h2.america{
    color:rgb(
        158, 158, 11
        ) ; text-align: right; text-decoration: overline;
}
p.ptwo{word-spacing: 10px;
text-align: right;
}
h2.iron{
    text-align: center; background-color: rgb(5, 181, 235); text-decoration: underline rgb(245, 17, 47);
    color:rgb(245, 17, 47)
}
p.pthree{
    text-decoration: line-through;
}
p.pfour{
    text-align: right;
}
